* {
    margin: 0;
    box-sizing: border-box;

    body {
        width: 100vw;
        height: 100vh;
        overflow: hidden;

        img {
            position: absolute;
            top: 10px;
            left: 10px;
            width: 150px;
            height: auto;
            opacity: 0.75;
            display: none
        }
    }
}